.dri-header{
    align-items: center;
    background: #24292e;
    color: #fff;
    fill: #fff;
}
.dri-header-icon{
    margin: 5px 8px;
    width: 32px;
    height: 32px;
}
.dri-header-title{
    font-size: 18px;
    font-weight: bold;
}