/* aurelia-ui/index.css */

*{
    box-sizing: border-box;
    outline: none;
}

[aurelia-app]{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .2s ease-in-out;
    transform: scale(1);
}

ui-view, .ui-view {
    position: absolute;
    width: 100%;
    height: 100%;
}

icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon, .icon svg{
    width: 24px;
    height: 24px;
}

@import 'layout';
@import 'animation';
